.App {
  font-family: sans-serif;
  text-align: center;
}

.table {
  border: 1px solid #dddddd;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.cell,
.cellHeader {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
